[View in Colaboratory](https://colab.research.google.com/github/avs20/GNoidaMLBatch/blob/master/Lesson1-RandomForest.ipynb)

In [3]:
!wget https://raw.githubusercontent.com/avs20/MSIT_ML_CLASS/master/datasets/ames_housing_trimmed_processed.csv

Redirecting output to ‘wget-log’.

In [4]:
!ls

ames_housing_trimmed_processed.csv  sample_data  wget-log

In [0]:
import pandas as pd
import numpy as np

In [6]:
df_raw = pd.read_csv('ames_housing_trimmed_processed.csv')
# print the first 5 rows of the DataFrame
df_raw.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,Remodeled,GrLivArea,BsmtFullBath,BsmtHalfBath,...,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl,PavedDrive_P,PavedDrive_Y,SalePrice
0,60,65.0,8450,7,5,2003,0,1710,1,0,...,0,0,0,0,1,0,0,0,1,208500
1,20,80.0,9600,6,8,1976,0,1262,0,1,...,0,1,0,0,0,0,0,0,1,181500
2,60,68.0,11250,7,5,2001,1,1786,1,0,...,0,0,0,0,1,0,0,0,1,223500
3,70,60.0,9550,7,5,1915,1,1717,1,0,...,0,0,0,0,1,0,0,0,1,140000
4,60,84.0,14260,8,5,2000,0,2198,1,0,...,0,0,0,0,1,0,0,0,1,250000

In [7]:
!head ./ames_housing_trimmed_processed.csv

MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,Remodeled,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageArea,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_IDOTRR,Neighborhood_MeadowV,Neighborhood_Mitchel,Neighborhood_NAmes,Neighborhood_NPkVill,Neighborhood_NWAmes,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker,BldgType_2fmCon,BldgType_Duplex,BldgType_Twnhs,BldgType_TwnhsE,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl,PavedDrive_P,PavedDrive_Y,SalePrice
60,65.0,8450,7,5,2003,0,1710,1,0,2,1,3,0,548,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,208500
20,80.0,9600,6,8,1976,0,1262,0,1,2,0,3,1,460,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,181500
60,68.0,11250,7,5,2001,1,1786,1,0,2,1,3,1,608,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,223500
70,60.0,9550,7,5,1915,1,1717,1,0,1,0,3,1,642,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,140000
60,84.0,14260,8,5,2000,0,2198,1,0,2,1,4,1,836,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,250000
50,85.0,14115,5,5,1993,1,1362,1,0,1,1,1,0,480,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,143000
20,75.0,10084,8,5,2004,1,1694,1,0,2,0,3,1,636,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,307000
60,0.0,10382,7,6,1973,0,2090,1,0,2,1,3,2,484,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,200000
50,51.0,6120,7,5,1931,1,1774,0,0,2,0,2,2,468,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,129900

In [8]:
df_raw.columns

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'Remodeled', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath',
       'FullBath', 'HalfBath', 'BedroomAbvGr', 'Fireplaces', 'GarageArea',
       'MSZoning_FV', 'MSZoning_RH', 'MSZoning_RL', 'MSZoning_RM',
       'Neighborhood_Blueste', 'Neighborhood_BrDale', 'Neighborhood_BrkSide',
       'Neighborhood_ClearCr', 'Neighborhood_CollgCr', 'Neighborhood_Crawfor',
       'Neighborhood_Edwards', 'Neighborhood_Gilbert', 'Neighborhood_IDOTRR',
       'Neighborhood_MeadowV', 'Neighborhood_Mitchel', 'Neighborhood_NAmes',
       'Neighborhood_NPkVill', 'Neighborhood_NWAmes', 'Neighborhood_NoRidge',
       'Neighborhood_NridgHt', 'Neighborhood_OldTown', 'Neighborhood_SWISU',
       'Neighborhood_Sawyer', 'Neighborhood_SawyerW', 'Neighborhood_Somerst',
       'Neighborhood_StoneBr', 'Neighborhood_Timber', 'Neighborhood_Veenker',
       'BldgType_2fmCon', 'BldgType_Duplex', 'BldgType_Twnhs',
       'BldgType_TwnhsE', 'HouseStyle_1.5Unf', 'HouseStyle_1Story',
       'HouseStyle_2.5Fin', 'HouseStyle_2.5Unf', 'HouseStyle_2Story',
       'HouseStyle_SFoyer', 'HouseStyle_SLvl', 'PavedDrive_P', 'PavedDrive_Y',
       'SalePrice'],
      dtype='object')

In [9]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 57 columns):
MSSubClass              1460 non-null int64
LotFrontage             1460 non-null float64
LotArea                 1460 non-null int64
OverallQual             1460 non-null int64
OverallCond             1460 non-null int64
YearBuilt               1460 non-null int64
Remodeled               1460 non-null int64
GrLivArea               1460 non-null int64
BsmtFullBath            1460 non-null int64
BsmtHalfBath            1460 non-null int64
FullBath                1460 non-null int64
HalfBath                1460 non-null int64
BedroomAbvGr            1460 non-null int64
Fireplaces              1460 non-null int64
GarageArea              1460 non-null int64
MSZoning_FV             1460 non-null int64
MSZoning_RH             1460 non-null int64
MSZoning_RL             1460 non-null int64
MSZoning_RM             1460 non-null int64
Neighborhood_Blueste    1460 non-null int64
Neighborhood_BrDale     1460 non-null int64
Neighborhood_BrkSide    1460 non-null int64
Neighborhood_ClearCr    1460 non-null int64
Neighborhood_CollgCr    1460 non-null int64
Neighborhood_Crawfor    1460 non-null int64
Neighborhood_Edwards    1460 non-null int64
Neighborhood_Gilbert    1460 non-null int64
Neighborhood_IDOTRR     1460 non-null int64
Neighborhood_MeadowV    1460 non-null int64
Neighborhood_Mitchel    1460 non-null int64
Neighborhood_NAmes      1460 non-null int64
Neighborhood_NPkVill    1460 non-null int64
Neighborhood_NWAmes     1460 non-null int64
Neighborhood_NoRidge    1460 non-null int64
Neighborhood_NridgHt    1460 non-null int64
Neighborhood_OldTown    1460 non-null int64
Neighborhood_SWISU      1460 non-null int64
Neighborhood_Sawyer     1460 non-null int64
Neighborhood_SawyerW    1460 non-null int64
Neighborhood_Somerst    1460 non-null int64
Neighborhood_StoneBr    1460 non-null int64
Neighborhood_Timber     1460 non-null int64
Neighborhood_Veenker    1460 non-null int64
BldgType_2fmCon         1460 non-null int64
BldgType_Duplex         1460 non-null int64
BldgType_Twnhs          1460 non-null int64
BldgType_TwnhsE         1460 non-null int64
HouseStyle_1.5Unf       1460 non-null int64
HouseStyle_1Story       1460 non-null int64
HouseStyle_2.5Fin       1460 non-null int64
HouseStyle_2.5Unf       1460 non-null int64
HouseStyle_2Story       1460 non-null int64
HouseStyle_SFoyer       1460 non-null int64
HouseStyle_SLvl         1460 non-null int64
PavedDrive_P            1460 non-null int64
PavedDrive_Y            1460 non-null int64
SalePrice               1460 non-null int64
dtypes: float64(1), int64(56)
memory usage: 650.2 KB

In [10]:
df_raw['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
5       143000
6       307000
7       200000
8       129900
9       118000
10      129500
11      345000
12      144000
13      279500
14      157000
15      132000
16      149000
17       90000
18      159000
19      139000
20      325300
21      139400
22      230000
23      129900
24      154000
25      256300
26      134800
27      306000
28      207500
29       68500
         ...
1430    192140
1431    143750
1432     64500
1433    186500
1434    160000
1435    174000
1436    120500
1437    394617
1438    149700
1439    197000
1440    191000
1441    149300
1442    310000
1443    121000
1444    179600
1445    129000
1446    157900
1447    240000
1448    112000
1449     92000
1450    136000
1451    287090
1452    145000
1453     84500
1454    185000
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [0]:
from sklearn.ensemble import RandomForestRegressor

# Preprocessin Data

1. Separate Dependent and Independent Variables 

Separate prediction variable from the dataset

In [0]:
X = df_raw.drop('SalePrice', axis=1)
y = df_raw['SalePrice']

In [15]:
print(X.shape)
print(y.shape)

(1460, 56)
(1460,)

# Model Training

In [16]:

model = RandomForestRegressor()

# to train a model use fit()

model.fit(X,y)

#calculate predictions
predictions = model.predict(X)

#check score
model.score(X, y)

0.969103195299977

Divide the data in test and train to check our model

# Using numpy

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
type(X.values)

numpy.ndarray

In [21]:
#take 1000 rows for training and 460 for testing 

train_X = X.values[0:1000,:]
train_y = y.values[0:1000]

test_X = X.values[1000:, :]
test_y = y.values[1000:]

print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(1000, 56) (1000,)
(460, 56) (460,)

In [22]:

model = RandomForestRegressor()

# to train a model use fit()

model.fit(train_X,train_y)

#calculate predictions
# predictions = model.predict(X)

#check score
model.score(test_X, test_y)

0.803294514681229

# R2 value

In [23]:
predictions = model.predict(test_X)

SSreg = np.sum((predictions - test_y)**2)
SStot = np.sum((test_y - test_y.mean())**2)

r2= 1 - (SSreg / SStot)

r2

0.803294514681229

In [0]:
# Code to plot a decision tree


# from sklearn.externals.six import StringIO  
# from IPython.display import Image  
# from sklearn.tree import export_graphviz
# import pydotplus
# dot_data = StringIO()
# export_graphviz(dtree, out_file=dot_data,  
#                 filled=True, rounded=True,
#                 special_characters=True)
# graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
# Image(graph.create_png())